.NavBar {
  align-items: center;
  background-color: $color-primary;
  box-sizing: border-box;
  color: $color-white;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  & > div {
    flex-basis: 10%;
    img {
      height: 30px;
    }
  }
  h1 {
    font-size: 17px;
    flex-grow: 1;
    text-align: center;
  }
}