.DetailView {
  background-color: $color-white;
  flex-grow: 1;
  & > * {
    padding-left: 12px;
  }
  .header {
    background-color: $color-primary-dark;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2 {
      margin: 0;
    }
    h1 {
      font-size: 16px;
      margin-bottom: 6px;
    }
    h2 {
      font-size: 12px;
    }
  }
  .sub-view {
    color: $color-black;
    padding-top: 16px;
    h3 {
      font-size: 16px;
    }
    & > div {
      margin-bottom: 26px;
    }
  }
}