.Loader {
  background-color: $color-black-transparent;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 10;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}