@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/AvenirNext-DemiBold.ttf');
}
body {
  background-color: $color-black;
  color: $color-black;
  font-family: 'Avenir Next', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

[role="button"] {
  cursor: pointer;
  outline: none;
}

.info-window {
  color: $color-black;
}

.hide {
  display: none;
}