@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/AvenirNext-DemiBold.ttf');
}
body {
  color: $color-black;
  font-family: 'Avenir Next', sans-serif;
  margin: 0;
}
