$color-primary: #43e895;
$color-primary-dark: #34b379;
$color-black: #2a2a2a;
$color-white: #ffffff;
$color-black-clear: rgba(42,42,42,0);
$color-black-transparent: rgba(42, 42, 42, 0.95);

$tablet-min: 767px;
$desktop-min: 1000px;